android {
    signingConfigs {
        releaseLocal {
            storeFile file("../keystore.jks")
            keyAlias "keyalias"
            keyPassword "password"
            storePassword "password"
        }
    }
}